body {
    margin: 0px;
}

#header {
    background: #f5f5f5;
    padding-top: 36px;
}

#header-inner {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    margin-bottom: 20px;
	font: 48px Helvetica;
}

a, a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: #7B7979;
    letter-spacing: -1px;
}

#content {
    width: 860px;
    margin-left: auto;
    margin-right: auto;
    font: 18px Helvetica;
}

#content-left {
    width: 575px;
    float: left;
}

#content-right {
    width: 265px;
    padding-top: 3px;
    float: right;
}

#step-one {
    background: no-repeat url("grey-arrow.png");
    height: 40px;
    margin-top: -5px;
}

.steptitle {
    color: white;
    margin-left: 25px;
    font: 20px Helvetica;
    margin-top: auto;
    margin-bottom: auto;
}

.stepinstructions {
    color: grey;
    margin-left: 25px;
    margin-top: 10px;
}

#div0, #div1 {
	float: left;
	margin-right: 25px;
}

#div2 {
    float: left;
}

#buttons {
	float: right
}

ul {
    list-style-type: none;
    margin-top: 50px;
}

li {
    margin-left: -18px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#output0, #output1, #output2 {
    border: 1px solid #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
}

#output0:hover {
	border: 1px solid #c7c7c7;
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}
#output1:hover {
	border: 1px solid #c7c7c7;
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}
#output2:hover {
	border: 1px solid #c7c7c7;
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}

.input {
	width: 175px;
	float: left; padding: 3px 15px 3px 15px;
	border: 3px solid #c7c7c7;
	border-radius: 100px; 
    -moz-border-radius: 100px; -webkit-border-radius: 100px;
	font: 18px Helvetica; color: #c7c7c7;
	outline: none; /*Remove Chrome and Safari glows on focus*/
}
#word0.active {
	background: #ebf3fc url('bar-bg-active-red.png') repeat-x;
    color: black;
    border: 3px solid #ff8080;
}
#word1.active {
	background: #ebf3fc url('bar-bg-active-blue.png') repeat-x;
    color: black;
	border: 3px solid #abd2ff;
}
#word2.active {
	background: #ebf3fc url('bar-bg-active-green.png') repeat-x;
    color: black;
	border: 3px solid #70f070;
}


#output {
    margin-top: 180px;
    padding-top: 15px;
    padding-bottom:15px;
    text-align: center;
}

#names0 {
    margin-left: auto;
    margin-right: auto;
}

#names1, #names2 {
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.created {
    margin: 2px;
    padding: 5px;
    border: 1px solid #ffffff;
    width: 150px;
}

.created:hover {
	border: 1px solid #c7c7c7;
	border-radius: 10px; 
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
}
