body {    
    margin: 0px;
}

#header {
    background: #f5f5f5;
    padding-top: 36px;
}

#header-inner {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    margin-bottom: 20px;
	font: 48px Helvetica;
    text-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

#footer {
    margin-top: 40px;
    padding-top: 40px;
    float: left;
    width: 100%;
    border-top: 2px #eee9e9 solid;
}

#footer-inner {
    width: 850px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    font: 12px Helvetica;
}

a.main-link, a.main-link:link, a.main-link:visited, 
a.main-link:active, a.main-link:hover {
    text-decoration: none;
    color: #333333;
    letter-spacing: -1px;
}

a.links, a.links:link, a.links:visited, a.links:active, a.links:hover {
    color: #287AB0;
    text-decoration: none;
}

#content {
    width: 860px;
    margin-left: auto;
    margin-right: auto;
    font: 18px Helvetica; color: #333333;
}
#content-left {
    width: 575px;
    float: left;
}

#content-right {
    width: 265px;
    padding-top: 3px;
    float: right;
}

.step {
    background: no-repeat url("grey-arrow.png");
    height: 40px;
}
#step-one {
    margin-top: -5px;
}
#step-two {
    margin-top: 45px;
    display: none;
}

#step-three {
    margin-top: 180px;
    display: none;
}

#step-four {
    margin-top: 305px;
    display: none;
}

.steptitle {
    color: white;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 7px 0 0px 6px;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,0.25);
    width: 265px;
    font: 20px Helvetica;
    margin-top: auto;
    margin-bottom: auto;
}

#i-two {
    display: none;
}

#i-three {
    display: none;
}

#i-four {
    display: none;
}

.stepinstructions {
    color: grey;
    margin-left: 25px;
    margin-top: 10px;
}

#div0, #div1 {
	float: left;
	margin-right: 25px;
}

#div2 {
    float: left;
}

#buttons {
	float: right;
}

ul {
    list-style-type: none;
    margin-top: 50px;
}

li {
    margin-left: -18px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#output0, #output1, #output2 {
    border: 1px solid #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
}

#output0:hover {
	border: 1px solid #c7c7c7;
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}
#output1:hover {
	border: 1px solid #c7c7c7;
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}
#output2:hover {
	border: 1px solid #c7c7c7;
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}

.input {
	width: 175px;
	float: left; padding: 3px 15px 3px 15px;
	border: 3px solid #c7c7c7;
	border-radius: 100px; 
    -moz-border-radius: 100px; -webkit-border-radius: 100px;
	font: 18px Helvetica; color: #c7c7c7;
	outline: none; /*Remove Chrome and Safari glows on focus*/
}
#word0.active {
	background: #ff8080;
    color: black;
    border: 3px solid #ff3333;
} 
#word1.active {
	background: #90b2ff;
    color: black;
	border: 3px solid #3399ff;
}
#word2.active {
	background: #50e050;
    color: black;
	border: 3px solid #00CC00;
}

#output {
    margin-top: 180px;
    padding-top: 15px;
    padding-bottom:15px;
    text-align: center;
}

#names0 {
    margin-left: auto;
    margin-right: auto;
}

#names1, #names2 {
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.created {
    margin: 2px;
    padding: 5px;
    border: 1px solid #ffffff;
    width: 150px;
}

.created:hover {
	border: 1px solid #c7c7c7;
	border-radius: 10px; 
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
}

#domains {
    margin-top: 10px;
    width: 225px; 
    float: left;
}

#domain-info {
    width: 350px;
    display: block;
    float: right;
    margin-top: 15px;
    text-align: center;
}

.urls {
    padding: 5px 0 5px 35px;
}

.urls img {
    float: right;
    margin-top: -5px;
}

.taken {
    background: url('taken.png') no-repeat left;
    background-position: 4%;
}

.available {
    background: url('ok.png') no-repeat left;
    background-position: 4%;
}

.maybe {
    background: url('maybe.png') no-repeat left;
    background-position: 4%;
}

.button { 
	font: 14px Helvetica; color: #C7C7C7;
    margin: 10px;
    padding: 2px 6px 2px 6px;
    border: 2px solid #C7C7C7;
    border-radius: 10px;
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
    display: block;
    float: right;
}

.button:hover {
    font 14px Helvetica;
    border: 2px solid #333333;
    color: #333333;
    border-radius: 10px;    
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
}

#button0 {
    margin-top: -93px;
    margin-bottom: 68px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 135px;
}

#button1 {
    margin-top: -228px;
    margin-bottom: 203px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 135px;
}

#button2 {
    margin-top: -93px;
    margin-bottom: 68px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 86px;
}

#button3 {
    margin-top: -353px;
    margin-bottom: 328px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 135px;
}

#button4 {
    margin-top: -218px;
    margin-bottom: 193px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 86px;
}

#domainsearch {
display: none;
}

#ads {
float: left;
margin-top: 20px;
width: 575px;
height: 100px;
background-color: #F5F5F5;
}

#ads-inner {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

#twitter {
    margin-left: 10px;
}
